# Set and Booleans

There are two other object types in Python that we should quickly cover: Sets and Booleans. 

## Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [2]:
x = set()
print(type(x))

<class 'set'>

In [3]:
# We add to sets with the add() method
x.add(1)

In [3]:
#Show
x

{1}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [4]:
# Add a different element
x.add(2)

In [5]:
#Show
x

{1, 2}

In [6]:
# Try to add the same element
x.add(1)

In [7]:
#Show
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [10]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [11]:
# Cast as set to get unique values
c = set(list1)
l1 = list(c)
print(l1)

[1, 2, 3, 4, 5, 6]

In [17]:
s = set()
print(type(s))
s.add(1)
s.add(4)
print(s)

<class 'set'>
{1, 4}

In [20]:
s = {1,2,3}
s.add(6)
print(s)

{1, 2, 3, 6}

In [23]:
s.update({77,88})
print(s)

{1, 2, 3, 6, 88, 77}

In [24]:
len(s)

6

In [25]:
# ordering is not important in sets
fruits = {"apple","mango","orange","grapes","banana"}
print(fruits)

{'banana', 'grapes', 'mango', 'orange', 'apple'}

In [26]:
fruits[0]

TypeError: 'set' object is not subscriptable

In [27]:
fruits.remove("banana")
print(fruits)

{'grapes', 'mango', 'orange', 'apple'}

In [28]:
fruits.remove("banana")

KeyError: 'banana'

In [29]:
fruits = {"apple","mango","orange","grapes","banana"}
fruits.discard("banana")
print(fruits)

{'grapes', 'mango', 'orange', 'apple'}

In [31]:
fruits.discard("banana")
print(fruits)

{'grapes', 'mango', 'orange', 'apple'}

In [32]:
fruits = {"apple","mango","orange","grapes","banana"}
x = fruits.pop()
print(x)

banana

In [33]:
fruits = {"apple","mango","orange","grapes","banana"}
fruits.clear()
print(fruits)

set()

In [34]:
fruits = {"apple","mango","orange","grapes","banana"}
del fruits

In [35]:
print(fruits)

NameError: name 'fruits' is not defined

In [36]:
a = [1,2]
del a

In [37]:
a

NameError: name 'a' is not defined

In [39]:
# union

s1 = {"a","b","c"}
s2 = {1,2,3,3}

s3 = s1.union(s2)
print(s3)

{1, 'a', 2, 3, 'c', 'b'}

In [40]:
# copy

a = {1,2,3}

b = a.copy()
print(b)

{1, 2, 3}

In [44]:
#difference
x = {'a','b','c'}
y = {'g','m','a'}

z = x.difference(y)
print(z)
print(x)

{'c', 'b'}
{'c', 'a', 'b'}

In [43]:
# difference_update ...Remove the items exists in both the sets

x = {'a','b','c'}
y = {'g','m','a'}

x.difference_update(y)
print(x)

{'c', 'b'}

In [45]:
dir(x)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

## Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [10]:
# Set object to be a boolean
a = True

In [11]:
#Show
a

True

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [12]:
# Output is boolean
1 > 2

False

We can use None as a placeholder for an object that we don't want to reassign yet:

In [13]:
# None placeholder
b = None

In [14]:
# Show
print(b)

None

Thats it! You should now have a basic understanding of Python objects and data structure types. Next, go ahead and do the assessment test!