In [ ]:
class student:
    
    school ='vidyalaya'
    def __init__(self,m1,m2,m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3
        
        
        
    def avg(self):
        return (self.m1 + self.m2+self.m3)/3
    
    
    @classmethod
    def info(cls):
        return cls.school
        
s1 = student(34,55,67)
s1.avg()

print(s1.info())

In [3]:
try:
    
    
    num1 = 100
    num2 = 0
    result = num1/num2
    
    print("result is",result)
    
    data = "ocean"
    print(data.get('name'))
    
    list1 = [1,22,3,4,5,7]
    print(list1[40])
    
except ZeroDivisionError:
    
    print("we cannot dividea number by zero")
    
except AttributeError:
    
    print("name is not present")
    
except indexError:
    
    print("index is not present")

we cannot dividea number by zero

In [13]:
try:
    
    
    num1 = 100
    num2 = 0
    result = num1/num2
    
    print("result is",result)
    
    
    list1 = [1,22,3,4,5,7]
    print(list1[40])
    
except ZeroDivisionError:
    
    print("we cannot dividea number by zero")
    
except indexError:
    
    print("index is not present")

we cannot dividea number by zero

In [6]:
d = {"name" : "amit"}
print(d["name"])

amit

In [29]:
try:
    
    
    num1 = 100
    num2 = 10
    result = num1/num2
    
    print("result is",result)
    
    data = "ocean"
    print(data)
    
    list1 = [1,22,3,4,5,7]
    print(list1[40])
    
except ZeroDivisionError:
    
    print("we cannot dividea number by zero")
    
except NameError:
    
    print("name is not present")
    
except IndexError:
    
    print("index is not present")

result is 10.0
ocean
index is not present

In [30]:
class A:
    
    def explore(self):
        
        print("inside class A")
        
class B(A):
    
    def explore1(self):
        print("inside class b")
        
b = B()

b.explore()

inside class A

In [31]:
class A:
    
    def explore(self):
        
        print("inside class A")
        
class B:
    
    def explore1(self):
        print("inside class b")
        
class c(A,B):
    def explore3(self):
        print("inside c")
        
        
cobj = c()

cobj.explore()
cobj.explore1()

inside class A
inside class b

In [3]:
class InvalidLevelError(Exception):
    def __init__(self,message):
        self.message = message
        
level = -1


try:
    
    if level <-2:
        raise InvalidLevelError("Invalid level")
        
except InvalidLevelError as e:
    print(e.message)

In [3]:
# for loop in python

fruits = ["apple","banana","cherry"]

for x in fruits:
    print(x)
    
print(type(x))

apple
banana
cherry
<class 'str'>

In [2]:
for x in "banana":
    
    print(x)

b
a
n
a
n
a

In [5]:
fruits = ["apple","banana","cherry"]

for x in fruits:
    print(x)
    
    if x =="banana":
        break

apple
banana

In [1]:
fruits = ["apple","banana","cherry","orange"]

for x in fruits:
    
    if x == "cherry":
        
        continue
        
    print(x)

apple
banana
orange

In [12]:
for x in range(1,10,2):
    print(x)

1
3
5
7
9

In [8]:
for x in range(2,6):
    
    print(x)

2
3
4
5

In [14]:
for x in range(2,30,2):
    pass

In [16]:
def add(a,b):
    
    pass

In [17]:
a = ["red","big","tasty"]
b = ["apple","banana","cherry"]

    for y in fruits:
        if len(a) == len(b):
            print(" ".join(a), b)

red big tasty ['apple', 'banana', 'cherry']
red big tasty ['apple', 'banana', 'cherry']
red big tasty ['apple', 'banana', 'cherry']
red big tasty ['apple', 'banana', 'cherry']
red big tasty ['apple', 'banana', 'cherry']
red big tasty ['apple', 'banana', 'cherry']
red big tasty ['apple', 'banana', 'cherry']
red big tasty ['apple', 'banana', 'cherry']
red big tasty ['apple', 'banana', 'cherry']

In [6]:
# pass statement
fruits = ["apple","banana","cherry"]



for x in fruits:

    pass

In [19]:
#doubt

for i in range(1,5): 
    for j in range(1):
        
        print(i, end =' ')
    print()
    
1
1 2
1 2 3

1
2
3
4

In [21]:
for x in range(2):
    print(x)

0
1

In [13]:
# while loop


i = 1

while i <= 7:
    print(i)
    
    i= i + 1

1
2
3
4
5
6
7

In [34]:
i = 1

while i < 6:
    print(i)
    if i ==3:
        break
        
    i = i+1

1
2
3

In [24]:
a = 333
b = 333

if b > a:
    print(" b is greater")
    
elif a==b:
    print("a is equal to b")
    
    
else:
    
    print("a is greater")

a is equal to b

In [18]:
def add(a,b):
    return a+b

d = add(4,8)
print(d)

12

In [21]:
def add(a,b):
    c = a+b
    print(c)
    
add(6,7)

13

In [22]:
add(20,30)

50

In [25]:
def evenodd(x):
    
    if(x%2 == 0):# == check whether condition is met or not
        print("even")
        
    else:
        print("odd")

In [26]:
evenodd(30)

even

In [27]:
def myfunc(fname):
    print(fname +" " + "kumar")

    
myfunc("anand")
myfunc("amit")

anand kumar
amit kumar

In [33]:
# star args is used to take multiple arguments inside a function.
def my_func(*a): 
    
    print(" the number is" + " " + a[2])
    
my_func("a","b","c","d")

 the number is c

In [39]:
def function(cat):
    for i in cat:
        print(i)
        
function("vikram")

v
i
k
r
a
m

In [41]:
def function(*cat):
    for i in cat:
        print(i)
        
function("vikram")

vikram

In [42]:
def function(*cat):
    for i in cat:
        print(i)
        
function("vikram",31,"kumar","orissa")

vikram
31
kumar
orissa

In [44]:
# doubt .dictionary concept is reqd

def function(**cat):
    for i in cat:
        print(i,cat[i])
        
function(name = "vikram",age = 31,title = "kumar",state = "orissa")

name vikram
age 31
title kumar
state orissa

In [45]:
def add(a,b):
    return a+b

c = add(2,3)
print(c)

5

In [47]:
a = lambda a,b : a+b
print(a(2,3))

5

In [48]:
print(a(10,20))

30

#syntax of Filter 
filter(function,sequence)

In [37]:
s = "abcdef1234ng23h6789"

res = ''.join((filter(lambda i : i.isdigit(),s)))
print(res)

1234236789

In [38]:
d = ["apple","banana"]
s = "cricket"

x = ''.join(d)
print(x)

applebanana