In [1]:
import pyodbc

In [2]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=LAPTOP-VV7PKBKB;'
                      'Database=master;'
                      'Trusted_Connection=yes;')

In [3]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM dbo.MSreplication_options')

In [4]:
for row in cursor:
    print(row)

('transactional', True, 90, 0, 0, 0)
('merge', True, 90, 0, 0, 0)
('security_model', True, 90, 0, 0, 0)

In [6]:
cursor.execute("CREATE TABLE TEST("
    "C_ID  INT,"
    "C_FP  FLOAT,"
    "C_VARCHAR VARCHAR(100),"
    "C_DATE DATE, C_TIME TIME,"
    "C_TS TIMESTAMP)")

In [9]:
cursor.execute("insert into TEST(C_ID, C_FP) values ('234', '1.54')")

In [10]:
cursor.execute("select * from test")

In [11]:
for row in cursor:
    print(row)

(234, 1.54, None, None, None, b'\x00\x00\x00\x00\x00\x00.\xe1')
(234, 1.54, None, None, None, b'\x00\x00\x00\x00\x00\x00.\xe2')

In [23]:
cursor.close()

In [16]:
cursor.execute("UPDATE TEST SET C_ID = '100'")

In [17]:
cursor.execute("select * from TEST")

In [18]:
for row in cursor:
    print(row)

(100, 1.54, None, None, None, b'\x00\x00\x00\x00\x00\x00.\xe3')
(100, 1.54, None, None, None, b'\x00\x00\x00\x00\x00\x00.\xe4')